header
{
    background-color: rgb(31, 120, 127);
    
}
.logo
{
    
    margin-left: -10rem;
    
}
.ajuste
{
    margin-right: -0.5rem;
}
background
{
   background-image: url(./imgs/CS50_project_logo.png); 
   /* background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
   /* background-position: center; Centraliza a imagem */
   /* background-repeat: no-repeat; Impede a repetição da imagem */
   /* width: 100%; */
  /* height: 500px; Definindo altura e largura do elemento */ 
}

#carouselsettings
{
    
    overflow: hidden;
    height: 200px;
}
.carousel-control-prev, .carousel-control-next {
    bottom: 70%; /* Ajuste essa porcentagem conforme necessário */
  }
main{
    background-color: rgb(187, 251, 255);
}
.background{
    background-color: rgb(187, 251, 255);
}
.fish
{
    height: 100%;
    border-radius: 40%;
}
section
{
    background-color: rgb(202, 255, 207);
}

html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
footer
{
    background-color: rgb(36, 36, 36);
    color: white
}
.centralizando
{
  display: flex;
  align-items:  center;
  justify-content: center;
  gap: 30px;
}