header
{
    background-color: rgb(31, 120, 127);
    
}
.logo
{
    
    margin-left: -10rem;
    
}
.container
{
    margin-right: -0.5rem;
}
background
{
   background-image: url(./imgs/CS50_project_logo.png); 
   /* background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
   /* background-position: center; Centraliza a imagem */
   /* background-repeat: no-repeat; Impede a repetição da imagem */
   /* width: 100%; */
  /* height: 500px; Definindo altura e largura do elemento */ 
}

#carouselsettings
{
    
    overflow: hidden;
    height: 200px;
}
.carousel-control-prev, .carousel-control-next {
    bottom: 70%; /* Ajuste essa porcentagem conforme necessário */
  }
main{
    background-color: rgb(187, 251, 255);
}
.fish
{
    height: 100%;
    border-radius: 40%;
}