{%extends 'layout.html'%}
{%block title%}
Scheduale
{%endblock%}

{%block main%}
<main class="mr-5 ml-5 pb-4">
    <form method="post" class="form-register container">
        {{ form.hidden_tag() }}
    
        <div class="row mr-5 ml-5">
            <div class="col-8">
                
                <div class="form-floating mt-4">
                    {{form.Instructor(class="form-control ",placeholder="*")}}
                    {{form.Instructor.label()}}
                    </div>
            </div>
            <div class="col-4">
                <div class="form-floating mt-4">
                    {{form.Submit(class="btn mt-2 btn-primary w-100 py-2 botao_tamanho" )}}
                  </div>
            </div>
        </div>
        <!-- Fazer um input para o value do dia de inicio. -->
        <input type="hidden" name="dia" value="None">
        <input type="hidden" name="hora" value="None">
    
      </form>

    {%if not week%}
      <div class="preencher_tudo"></div>
    {%endif%}
    <div class="row m-4 ml-4 linha_scheduale" id="schedualer">
    {% for dia, horas in week.items() %}
        <div class=" col-2 col_scheduale">
            <h5>DAY: {{dia}}</h5>
            <br>
        {%for hora, items in horas %}
        <form action="{{ url_for('scheduale') }}" class="centralizando mt-2 " method="post">
        {{ hora }}:00 
        {%if items[0] == True%}
        
            {%if items[1] != current_user.Id%}
            
                <img src="../static/imgs/incorrect.png" width="20" alt="">
            {%else%}
                <input type="hidden" name="dia" value="{{ dia }}">
                <input type="hidden" name="hora" value="{{ hora }}">
                <input type="hidden" name="employee_id" value="{{ employee_id }}">
                <input type="hidden" name="delete" value="True">
                <button type="submit" class=""><img src="../static/imgs/delete.png" width="20" alt=""></button>
            {%endif%}
            {%else%}
        
                <input type="hidden" name="dia" value="{{ dia }}">
                <input type="hidden" name="hora" value="{{ hora }}">
                <input type="hidden" name="employee_id" value="{{ employee_id }}">
                <input type="hidden" name="delete" value="False">
                <button type="submit" class="btn btn-success btn-sm"><img src="../static/imgs/correct.png" width="20" alt=""></button>
            
        {%endif%}
        
        <br>

        </form>
        
        {%endfor%}
        </div>
        
    {% endfor %}
    </div>

    <script>
        let activebuttonnext = document.getElementById("proximo");
        let activebuttonback = document.getElementById("voltar");
        // criar um input da data de inicio no forms:
        // let startdata = document.getElementById("inicio");
        let startdata;
        let instrutor
        let scheduale = document.getElementById("schedualer");
        activebuttonnext.addEventListener("click", async function(){
            let response = await fetch('/search?q=' + startdata + "&" + "data" + instrutor);

            let shows = await response.text();
            scheduale.innerHTML = shows;
        });
        activebuttonback.addEventListener("click", async function(){
            let response = await fetch('/search?q=' + startdata);

            let shows = await response.text();
            scheduale.innerHTML = shows;
        });
        

    </script>
    



   
</main>
{%endblock%}